fastapi[standard]
uvicorn>=0.27.1
python-dotenv>=1.0.1
supabase>=2.3.4
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.9
pydantic>=2.6.1 
googlemaps
python-dotenv
openai
slowapi
https://github.com/instructor-ai/instructor/tree/73a90619a6dd7be588e6047d5909f67393157c7d