.wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surprise {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: spin 5s linear infinite;
    object-fit: contain;
}

@keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    position: relative;
    z-index: 1;
}

.chicken {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    object-fit: contain;
    animation: fadeIn 1s ease-in;
    display: block;
}