
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.surprise {
    position: fixed;
    max-width: 400px;
    overflow: hidden;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    z-index: -150;

    animation: spin 5s linear infinite;

}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.text {
    padding-top: 40%;
    padding-left: 40px;
    align-content: center;
    text-align: center;
    width: 400px;
}